{%extends 'layout.html' %}

{% block body %}
<div class="main-container" style="text-align: center;">
          <div>
            <h1>PKMII - RestApi</h1>
            <p class="lead">Tematem projektu jest przetwarzanie obrazów ze szczególnym uwzględnieniem
            wykrywania obiektów takich jak twarze, pociągi, tory. Aplikacja również
            sygnalizuje czy pociąg jedzie czy stoi oraz to czy sterowany obiekt napotkał
            jakąkolwiek przeszkodę na swojej drodze.....
    </p>
        </div>
</div>

{% endblock  %}